<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My bands</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class="navbar p-5 d-flex">
        <!-- this is going to display the first name of our user -->
        <h1>Rock on {{ user['first_name'] }} !!</h1>
        <!-- these buttons will take us to the app route for whatever is in the href -->
        <p><a href="/dashboard">Dashboard</a></p>
        <p><a href="/logout">Logout</a></p>
    </div>

    <table class="table table-borderless">
        <tr>
            <th>Band Name</th>
            <th>Actions</th>
        </tr>

        <tr>
            <th>{{ band['band_name'] }}</th>

        </tr>

        <tr>
            <td>
                {% if band.user_id == session["user_id"] %}
                <a href="/edit_band/{{ user.id }}">edit</a>
                <a href="/delete_band/{{ band.id }}">delete</a>
                {% endif %}
            </td>
        </tr>

    </table>
</body>

</html>