<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="navbar d-flex p-5">
        <!-- this is going to display the first name of our user -->
        <h1>Welcome {{ user["first_name"] }}</h1>
        <!-- these buttons will take us to the app route for whatever in the href -->
        <p><a href="/dashboard">dashboard</a></p>
        <p><a href="/logout">logout</a></p>

    </div>
    <!-- this is a recipe name -->
    <h1>{{ recipe["name"]}}</h1>
    
    <table class="table table-borderless">
        <!-- for each line we have a (TR) and each element in the table gets a table data (td) -->
        <tr>
            <td>Description:</td>
            <td>{{ recipe ["description"] }}</td>
        </tr>
        <tr>
            <td>30 minutes?</td>
            <td>{{ recipe ["under_30"] }}</td>
        </tr>
        <tr>
            <td>Instructions:</td>
            <td>{{ recipe ["instructions"] }}</td>
        </tr>
        <tr>
            <td>Date Made:</td>
            <td>{{ recipe ["date_made"] }}</td>
        </tr>
    
    </table>
</body>

</html>